# Read sensitive environment variables from 1password.

# User token for access to remote state on terraform cloud.
export TF_TOKEN_APP_TERRAFORM_IO="$(op read op://Servers/TF_TOKEN_APP_TERRAFORM_IO/password)"